
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Oasis Sports</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   

   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- Colors CSS -->
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" href="{% static 'css/versions.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- table  -->
   <link rel="stylesheet" href="{% static 'css/table.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src=" {% static 'js/3dslider.js' %}"></script>
   
   </head>
   <body class="game" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="{%static 'images/loading-img.gif' %}" alt="">
      </div>
      <!-- END LOADER -->
      <section id="top">
         <header>
            
                           
                     <div class="col-md-6">
                        <div class="right_top_section">
                           <!-- social icon -->
                           <!-- <ul class="social-icons pull-left">
                              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                           </ul> -->
                           <!-- end social icon -->
                           <!-- button section -->
                           <!-- <ul class="login">
                              <li class="login-modal">
                                 <a href="#" class="login"><i class="fa fa-user"></i>Login</a>
                              </li>
                              <li>
                                 <div class="cart-option">
                                    <a href="#"><i class="fa fa-shopping-cart"></i>Register</a>
                                 </div>
                              </li>
                           </ul> -->
                           <!-- end button section -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="header-bottom">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="full">
                           <div class="main-menu-section">
                              <div class="menu">
                                 <nav class="navbar navbar-inverse">
                                    <div class="navbar-header">
                                       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                                       <span class="sr-only">Toggle navigation</span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       </button>
                                       <a class="navbar-brand" href="#">Menu</a>
                                    </div>
                                    <div class="collapse navbar-collapse js-navbar-collapse">
                                       <ul class="nav navbar-nav">
                                          <div class="logo">
                                             <a href="index.html"><img src="{% static 'images/logo.jpeg' %}" alt="#" style="width: 150px; height: 80px;"/></a>
                                          </div>
                                          <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                          <li><a href="{% url 'about' %}">About Us</a></li>
                                          <li><a href="{% url 'news'%}">News</a></li>
                                          <li class="dropdown mega-dropdown">
                                             <a href="match" class="dropdown-toggle" data-toggle="dropdown">Team<span class="caret"></span></a>				
                                             <ul class="dropdown-menu mega-dropdown-menu">
                                                <li class="col-sm-12">
                                                   <ul>
                                                      <li class="dropdown-header">Our Teams</li>
                                                      <div id="menCollection" class="carousel slide" data-ride="carousel">
                                                         <div class="carousel-inner">
                                                            <div class="item active">
                                                               <table class="table table-no-border">
                                                            <thead>
                                                               <tr>
                                                            <th>Volley Ball</th>
                                                            <th>Hand ball</th>
                                                            <th>Basket ball</th>
                                                            <th>Karate</th>
                                                            <th>Min Foot Ball</th>
                                                            <th>Hockey</th>
                                                               </tr>
                                                            </thead>
                                                            <tbody>
                                                               <tr>
                                                                  <td><a href="">Men Volley Ball</a></td>
                                                                  <td><a href="">Men Hand Ball"></a></td>
                                                                  <td><a href="">Men Basket Ball</a></td>
                                                                  <td><a href="">Men Karate</a></td>
                                                                  <td><a href="">Men Foot Ball</a></td>
                                                                  <td><a href="">Men Hockey</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td><a href="">Women Volley Ball</a></td>
                                                                  <td><a href="">Women Hand Ball"></a></td>
                                                                  <td><a href="">Women Basket Ball</a></td>
                                                                  <td><a href="">Women Karate</a></td>
                                                                  <td><a href="">Women Foot Ball</a></td>
                                                                  <td><a href="">Women Hockey</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td><a href="">Women Volley Ball</a></td>
                                                                  <td><a href="">Women Hand Ball"></a></td>
                                                                  <td><a href="">Women Basket Ball</a></td>
                                                                  <td><a href="">Women Karate</a></td>
                                                                  <td><a href="">Women Foot Ball</a></td>
                                                                  <td><a href="">Women Hockey</a></td>
                                                               </tr>
                                                            </tbody>
                                                            
                                                         </table>
                                                         </div>
                                                         
                                                      </div>
                                                       
                                                   </ul>
                                                </li>
                                                
                                             </ul>
                                          </li> 
                                          <li><a href="{% url 'blog'%}">Blog</a></li>
                                          <li><a href="{% url 'contact' %}">contact</a></li>
                                       </ul>
                                    </div>
                                    <!-- /.nav-collapse -->
                                 </nav>
                                 <div class="search-bar">
                                    <div id="imaginary_container">
                                       <div class="input-group stylish-input-group">
                                          <input type="text" class="form-control"  placeholder="Search" >
                                          <span class="input-group-addon">
                                          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>  
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="inner-page-banner">
            <div class="container">
            </div>
         </div>
         <div class="inner-information-text">
            <div class="container">
               <h3>Blog</h3>
               <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Blog</li>
               </ul>
            </div>
         </div>
      </section>
      <section id="contant" class="contant main-heading team">
         <div class="row">
            <div class="container">
               <div class="col-md-9">
                  <div class="feature-post">
                     <div class="feature-img">
                        <img src="images/img-03_002.jpg" class="img-responsive" alt="#" />
                     </div>
                     <div class="feature-cont">
                        <div class="post-people">
                           <div class="left-profile">
                              <div class="post-info">
                                 <img src="images/profile-img.png" alt="#" />
                                 <span>
                                    <h4>by George Kvasnikov</h4>
                                    <h5>on Jun 27, 2014</h5>
                                 </span>
                              </div>
                              <span class="share"></span>
                           </div>
                        </div>
                        <div class="post-heading">
                           <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</h3>
                           <p>World CupInternational Club football teamSpanish LeagueReal Madrid Vs Barcelona SpanishNext MatchThe Match Result 
                              UpdateWorld CUPFIFA World CUP 2015International Club football teamEngland30 Jun 10:24FranceReal Madrid Vs Barcelona SpanishManchester 
                              City30 Nov 00:00Manchester.
                           </p>
                           <div class="full">
                              <a class="btn" href="#">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="feature-post">
                     <div class="feature-img">
                        <img src="images/img-03_002.jpg" class="img-responsive" alt="#" />
                     </div>
                     <div class="feature-cont">
                        <div class="post-info">
                           <img src="images/profile-img.png" alt="#" />
                           <span>
                              <h4>by George Kvasnikov</h4>
                              <h5>on Jun 27, 2014</h5>
                           </span>
                        </div>
                        <div class="post-heading">
                           <h3>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                           <div class="full">
                              <a class="btn" href="#">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="feature-post small-blog">
                     <div class="col-md-5">
                        <div class="feature-img">
                           <img src="images/post2.png" class="img-responsive" alt="#" />
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="feature-cont">
                           <div class="post-info">
                              <img src="images/profile-img.png" alt="#" />
                              <span>
                                 <h4>by George Kvasnikov</h4>
                                 <h5>on Jun 27, 2014</h5>
                              </span>
                           </div>
                           <div class="post-heading">
                              <h3>We denounce with righteous indignation and dislike men who are so beguiled</h3>
                              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
							   et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est 
							   laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                              <div class="full">
                                 <a class="btn" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="feature-post small-blog">
                     <div class="col-md-5">
                        <div class="feature-img">
                           <img src="images/post2.png" class="img-responsive" alt="#" />
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="feature-cont">
                           <div class="post-info">
                              <img src="images/profile-img.png" alt="#" />
                              <span>
                                 <h4>by George Kvasnikov</h4>
                                 <h5>on Jun 27, 2014</h5>
                              </span>
                           </div>
                           <div class="post-heading">
                              <h3>We denounce with righteous indignation and dislike men who are so beguiled</h3>
                              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
							   et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est 
							   laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                              <div class="full">
                                 <a class="btn" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="feature-post small-blog">
                     <div class="col-md-5">
                        <div class="feature-img">
                           <img src="images/post2.png" class="img-responsive" alt="#" />
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="feature-cont">
                           <div class="post-info">
                              <img src="images/profile-img.png" alt="#" />
                              <span>
                                 <h4>by George Kvasnikov</h4>
                                 <h5>on Jun 27, 2014</h5>
                              </span>
                           </div>
                           <div class="post-heading">
                              <h3>Sydney derby takes centre stage while Tim Cahill says no to A-League</h3>
                              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
							   et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est 
							   laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                              <div class="full">
                                 <a class="btn" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="blog-sidebar">
                     <div class="search-bar-blog">
                        <form>
                           <input type="text" placeholder="search" />
                           <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                     </div>
                  </div>
                  <div class="blog-sidebar">
                     <h4 class="heading">Top Categories</h4>
                     <div class="category-menu">
                        <ul>
                           <li><a href="#">Cricket</a></li>
                           <li><a href="#">Football</a></li>
                           <li><a href="#">Hockey</a></li>
                           <li><a href="#">Tennis</a></li>
                           <li><a href="#">Basketball</a></li>
                           <li><a href="#">Golf</a></li>
                           <li><a href="#">Cycling</a></li>
                           <li><a href="#">Motorsports</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="blog-sidebar">
                     <h4 class="heading">Popular News</h4>
                     <div class="category-menu">
                        <ul>
                           <li>
                              <span><img src="images/profile-img2.png" alt="#"></span>
                              <span>
                                 <p>Two touch penalties, imaginary cards</p>
                                 <p class="date">22 Feb, 2016</p>
                              </span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <div class="team-btw-match">
                           <ul>
                              <li>
                                 <img src="images/img-01_002.png" alt="">
                                 <span>Portugal</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="images/img-02.png" alt="">
                                 <span>Germany</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="images/img-03_002.png" alt="">
                                 <span>Portugal</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="images/img-04_003.png" alt="">
                                 <span>Germany</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="images/img-05_002.png" alt="">
                                 <span>Portugal</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="images/img-06.png" alt="">
                                 <span>Germany</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="images/img-07_002.png" alt="">
                                 <span>Portugal</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="images/img-08.png" alt="">
                                 <span>Germany</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </aside>
                  <aside id="sidebar" class="left-bar">
                     <div class="banner-sidebar">
                        <img class="img-responsive" src="images/match-banner1.jpg" alt="#">
                        <h3>Argentina vs Chile|Goals of the match | COPA </h3>
                     </div>
                  </aside>
                  <aside id="sidebar" class="right-bar">
                     <div class="banner">
                        <img class="img-responsive" src="images/adds-3.jpg" alt="#">
                     </div>
                  </aside>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Team</th>
                                 <th>P</th>
                                 <th>W</th>
                                 <th>L</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td><img src="images/img-01_004.png" alt="">Liverpool</td>
                                 <td>10</td>
                                 <td>12</td>
                                 <td>20</td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td><img src="images/img-02_002.png" alt="">Chelsea</td>
                                 <td>10</td>
                                 <td>12</td>
                                 <td>20</td>
                              </tr>
                              <tr>
                                 <td>3</td>
                                 <td><img src="images/img-03_003.png" alt="">Norwich City</td>
                                 <td>20</td>
                                 <td>15</td>
                                 <td>20</td>
                              </tr>
                              <tr>
                                 <td>4</td>
                                 <td><img src="images/img-04_002.png" alt="">West Brom</td>
                                 <td>60</td>
                                 <td>10</td>
                                 <td>60</td>
                              </tr>
                              <tr>
                                 <td>5</td>
                                 <td><img src="images/img-05.png" alt="">sunderland</td>
                                 <td>30</td>
                                 <td>06</td>
                                 <td>30</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </aside>
               </div>
            </div>
         </div>
      </section>
      <footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        
                        <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p>
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                           <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a href="about.html">About Us</a></li>
                           <li><a href="team.html">Our Team</a></li>
                           <li><a href="news.html">Latest News</a></li>
                           <li><a href="matche.html">Recent Matchs</a></li>
                           <li><a href="blog.html">Our Blog</a></li>
                           <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Contact us</h3>
                        <ul class="address-list">
                           <li><i class="fa fa-map-marker"></i> Nduba, Gasabo Rwanda</li>
                           <li><i class="fa fa-phone"></i> +250 788 319 756</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i>Oasissport@gmail.com</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11459.45290763205!2d30.088124487743713!3d-1.875850349414198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca1beca50c895%3A0xa066564fb5095661!2sNyarubande%2C%20Kigali!5e0!3m2!1sen!2srw!4v1721560406441!5m2!1sen!2srw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © 2024 Oasis Community Sports Center.All rights reserved.</p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="{% static 'js/all.js' %}"></script>
      <!-- ALL PLUGINS -->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>